<div class="row">
  <div class="col-md-12">
    <%= month_calendar events: @meetings do |date, meetings| %>
        <%= date.day %>
        <br>
          <% meetings.each do |meeting| %>
              <p><%= link_to meeting.name, meeting %></p>
          <% end %>
    <% end %>
  </div>
</div>

