<div class="container">
  <div class="form-signin">
    <div class="panel panel-default panel-body">
      <h1>Creating event</h1>
      <%= render 'form', meeting: @meeting %>
    </div>
  </div>
</div>

