<h1 style="text-align: center">Welcome!</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <a href="/calendar" class="btn btn-lg btn-default">Calendar</a>
    <a href="/users/sign_up" class="btn btn-lg btn-default">Sign up</a>
  </div>
</div>
